<mat-list role="list" class="sidebar">
  <mat-list-item (click)="routeToDashboard()" role="listitem" class="pointer">
    <mat-icon color="primary">home</mat-icon> &#160; &#160; Dashboard</mat-list-item>
  <mat-list-item (click)="routeToCustomer()" role="listitem" class="pointer">
    <mat-icon color="primary">people</mat-icon> &#160; &#160;Customer</mat-list-item>
  <mat-list-item (click)="routeToSupplier()" role="listitem" class="pointer">
    <mat-icon color="primary">directions_bike</mat-icon> &#160; &#160;Supplier</mat-list-item>
  <mat-list-item (click)="routeToFabric()" role="listitem" class="pointer">
    <mat-icon color="primary">filter_vintage</mat-icon> &#160; &#160;Fabric</mat-list-item>
</mat-list>

