
 <mat-card>
   <mat-card-title>Add Supplier</mat-card-title>
   <hr>
   <mat-card-content>
     <form [formGroup]="supplierForm" (click)="onSubmit()">
       <div class="row">
         <div class="col-md-6">
           <div class="form-group">
             <label for="name">Name</label>
             <div class="input-group">
               <input id="name" required class="form-control" placeholder="Name" formControlName="name"  type="text">
             </div>
           </div>
         </div>
         <div class="col-md-6">
           <div class="form-group">
             <label for="phone">Phone</label>
             <div class="input-group">
               <input id="phone"  required class="form-control" placeholder="Phone" formControlName="phone"  type="number">
             </div>
           </div>
         </div>
         <div class="col-md-6">
           <div class="form-group">
             <label for="email">Address</label>
             <div class="input-group">
               <input id="email" class="form-control" placeholder="Address" formControlName="address"  type="text">
             </div>
           </div>
         </div>
       </div>
       <hr>
       <button class="btn btn-primary" (click)="saveSupplier()">Save</button>
     </form>
   </mat-card-content>
 </mat-card>
